.serverless
.webpack
dist
node_modules


**/schema-gateway/src/supergraph-gateway.graphql
**/schema-inventory/src/inventory.ts
**/schema-products/src/products.ts
**/schema-users/src/users.ts
**/src/*.json
**/src/*.json.d.ts